.env
botenv
/__pycache__
/output
/processed
/text
bot.ipynb
chatbot.log
embedd.ipynb
embeddings_utils.py
test.ipynb
/notebooks
config.py
flask_session
/audio_samples
/chatbot_r&d
/r&d
tool_call_testing.ipynb
t.py